body{
    font-family: "Plus Jakarta Sans", sans-serif;

}

nav li
{
    list-style-type: none;
}
nav img
{
    width: 25%;
}
nav
{
    width: 90%;
    margin:auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav #menu{
    width: 35px;
}
nav #logo{
width: 85px;
}
#top{
    z-index: -2;
    width: 90%;
    margin:auto;
    background-color: #E2E8F0;
    height: calc(100vh - 68.25px);
    border-radius: 20px;
}
#main-text{
    height: 30vh;

}
#top h1,p
{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}

#top h1{
    padding-top: 50px;
    font-size: 25px;
    width: 85%;
    font-weight: bold;
}
#top p{
    padding-top: 35px;
    line-height: 25px;
}
